{
  "openapi": "3.1.0",
  "info": {
    "title": "Nguyễn Trọng Hữu - AI Content & Website Management API",
    "description": "API cho phép ChatGPT tự động nghiên cứu, viết bài chuẩn SEO, tạo hồ sơ dự án case study và gói dịch vụ trực tiếp lên website nguyentronghuu.com.",
    "version": "1.2.0"
  },
  "servers": [
    {
      "url": "https://nguyentronghuu.com/api",
      "description": "Production Server"
    }
  ],
  "paths": {
    "/posts": {
      "get": {
        "operationId": "getPosts",
        "summary": "Lấy danh sách bài viết hiện có trên website nguyentronghuu.com",
        "parameters": [
          { "name": "search", "in": "query", "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 10 } }
        ],
        "responses": { "200": { "description": "OK" } }
      },
      "post": {
        "operationId": "createPost",
        "summary": "Tạo và đăng bài viết mới chuẩn SEO lên blog",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["title", "content"],
                "properties": {
                  "title": { "type": "string", "description": "Tiêu đề bài viết" },
                  "content": { "type": "string", "description": "Nội dung bài viết đầy đủ thẻ HTML" },
                  "excerpt": { "type": "string", "description": "Tóm tắt ngắn gọn" },
                  "category": { "type": "string", "enum": ["AI AGENT", "MARKETING", "CONVERSION RATE", "CONTENT STRATEGY"] },
                  "tags": { "type": "array", "items": { "type": "string" } },
                  "cover_image": { "type": "string" },
                  "status": { "type": "string", "enum": ["published", "draft"], "default": "published" }
                }
              }
            }
          }
        },
        "responses": { "201": { "description": "Created" } },
        "security": [{ "ApiKeyAuth": [] }]
      }
    },
    "/projects": {
      "get": {
        "operationId": "getProjects",
        "summary": "Lấy danh sách các dự án Case Study đã thực hiện",
        "parameters": [
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 10 } }
        ],
        "responses": { "200": { "description": "OK" } }
      },
      "post": {
        "operationId": "createProject",
        "summary": "Tạo hồ sơ dự án Case Study mới",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["title", "content"],
                "properties": {
                  "title": { "type": "string", "description": "Tên dự án Case Study" },
                  "client": { "type": "string", "description": "Tên khách hàng / đối tác" },
                  "year": { "type": "string", "description": "Năm thực hiện (ví dụ 2026)" },
                  "category": { "type": "string", "description": "Lĩnh vực dự án" },
                  "content": { "type": "string", "description": "Chi tiết case study (HTML)" },
                  "tech_stack": { "type": "array", "items": { "type": "string" } },
                  "link": { "type": "string" },
                  "cover_image": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": { "201": { "description": "Created" } },
        "security": [{ "ApiKeyAuth": [] }]
      }
    },
    "/services": {
      "get": {
        "operationId": "getServices",
        "summary": "Lấy danh sách các gói dịch vụ giải pháp",
        "parameters": [
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 10 } }
        ],
        "responses": { "200": { "description": "OK" } }
      },
      "post": {
        "operationId": "createService",
        "summary": "Tạo gói dịch vụ giải pháp mới",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["title", "content"],
                "properties": {
                  "title": { "type": "string", "description": "Tên gói dịch vụ" },
                  "description": { "type": "string", "description": "Mô tả ngắn gọn" },
                  "content": { "type": "string", "description": "Nội dung chi tiết dịch vụ (HTML)" },
                  "icon_name": { "type": "string", "description": "Icon: Bot, Cpu, Code2, LineChart, Shield" },
                  "cover_image": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": { "201": { "description": "Created" } },
        "security": [{ "ApiKeyAuth": [] }]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization"
      }
    }
  }
}
